body {
  padding: 15px;
  background-color: #E1E8ED !important;
  color: #14171A !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
  margin: auto;
  max-width: 800px;
}

#twitter-logo {
  float: bottom;
  color: #38A1F3;
  font-size: 3rem;
}

.jumbotron {
  background-color: #FFF;
}

.btn-primary {
  background-color: #38A1F3 !important;
  border-color: #38A1F3 !important;
}

.btn-primary:hover {
  background-color: #0E8FF1 !important;
  border-color: #0E8FF1 !important;
}
