<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tweet Simulator</title>

    <link rel="stylesheet" href="../static/css/tweet.css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>
  <body>
    <!--<p>{{ tweet }}</p>-->

    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Standing down to update satellite software and triple-check everything again. Always want to do everything we can on the ground to maximize mission success, next launch opportunity in about a week.</p>&mdash; SpaceX (@SpaceX) <a href="https://twitter.com/SpaceX/status/1129181397262843906?ref_src=twsrc%5Etfw">May 17, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
