<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tweet Simulator</title>

    <link rel="stylesheet" href="/static/css/tweet.css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>
  <body>
    <!--<p>{{ tweet }}</p>-->

    <div class="twitter-widget">
      <div class="sandbox-root">
        <div class="tweet-container">
          <div class="tweet">
            <blockquote>
              <div class="tweet-header">
                <a class="tweet-author-avatar" href="https://twitter.com/SpaceX" aria-label="SpaceX (screen name: SpaceX)">
                  <img class="avatar" src="/static/img/twitter-icon-square-color.png">
                </a>
                <div class="tweet-author">
                  <a class="tweet-author-link" href="https://twitter.com/SpaceX" aria-label="SpaceX (screen name: SpaceX)">
                    <div class="tweet-author-names-container">
                      <span class="tweet-author-name" title="SpaceX">
                        SpaceX
                      </span>
                      <span class="tweet-author-screenname" title="@SpaceX" dir="ltr">
                        @SpaceX
                      </span>
                    </div>
                  </a>
                </div>
                <div class="tweet-brand">
                  <i class="fab fa-twitter icon icon-twitter"></i>
                </div>
              </div>
              <div class="tweet-body">
                <p class="tweet-text">{{ tweet }}</p>
                <div class="tweet-info">
                  <div>
                    <div class="tweet-info-heart">
                      <div class="icon icon-heart"></div><span class="tweet-info-heart-stat">69K</span>
                    </div>
                  </div>
                  <div class="tweet-info-time">
                    <time datetime="2019-05-17T00:26:38+0000" title="Time posted: May 17, 2019 00:26:38 (UTC)">8:26 PM - May 16, 2019</time>
                  </div>
                  <div>
                    <span class="icon icon-info"></span>
                  </div>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>



    <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Standing down to update satellite software and triple-check everything again. Always want to do everything we can on the ground to maximize mission success, next launch opportunity in about a week.</p>&mdash; SpaceX (@SpaceX) <a href="https://twitter.com/SpaceX/status/1129181397262843906?ref_src=twsrc%5Etfw">May 17, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  </body>
</html>
